/*
* IMPORT FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:wght@200&display=swap');


/*
* CSS VARIABLES
*/
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --Very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --font-size: 18px;
}

/*
* RESET DEFAULT STYLES
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
* STYLES OF ELEMENT BODY
*/
body {
    background-color: var(--Very-dark-blue-main-bg);
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%, 60%)
}

/*
* CONTAINER STYLES
*/
.container {
    display: grid;
    /*height: 100vh;*/
    place-items: center;
    padding: 2rem;
}

/*
* RESET IMAGE WIDTH
*/
img {
    max-width: 100%;
}

/*
* RESET UL LIST STYLE
*/
ul {
    list-style-type: none;
}

/*
* SET PARAGRAPH TAG FONT WEIGHT
*/
p {
    font-weight: 300;
}

/*
* CARD WRAPPER STYLES
*/
.nft-card {
    background-color: var(--Very-dark-blue-card-bg);
    border-radius: 0.5rem;
    box-shadow: 0 1px 12px rgb(0 0 0 / 12%), 0 1px 12px rgb(0 0 0 / 24%);
    padding: 1.25rem;
    width: 90%;
}

/*
* OVERLAY WRAPPER STYLES
*/
figure.image-overlay {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

/*
* INNER IMAGE IN OVERLAY
*/
figure.image-overlay .nft-card-image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

/*
* VIEW IMAGE IN OVERLAY
*/
figure.image-overlay figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -115%);
    width: 12.5rem;
    opacity: 0;
    z-index: 1;
    transition: all 0.8s ease-out;
    transition-delay: 0.2s;
}

/*
* VIEW IMAGE IN OVERLAY PSEUDO CLASS
*/
figure.image-overlay:after {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: calc(100% - 4px);
    width: 100%;
    background-color: hsla(178, 100%, 50%, 0.7);;
    opacity: 0;
    transition: all 0.8s ease-out;
    border-radius: 8px;
}

/*
* OVERLAY PSEUDO CLASSES
*/
figure.image-overlay:hover:after {
    opacity: 0.9;
}

/*
* OVERLAY PSEUDO CLASSES VIEW IMAGE TRANSITION
*/
figure.image-overlay:hover figcaption {
    transform: translate(-50%, -40%);
    opacity: 1;
}

/*
* CARD HEADER
*/
.nft-card h2 {
    color: var(--White);
    margin: 1rem 0.5rem 1rem 0;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
}

/*
* CARD HEADER HOVER STATE
*/
.nft-card h2:hover {
    color: var(--Cyan);
}


/*
* CARD WRAPPER STYLES
*/
.nft-card .paragraph {
    color: var(--Soft-blue);
    font-size: var(--font-size);
}

/*
* CARD DESCRIPTION
*/
.nft-card .nft-card-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 2px solid var(--Very-dark-blue-line);
}

/*
* CARD DESCRIPTION LI
*/
.nft-card .nft-card-description li {
    display: flex;
    align-items: center;
}

/*
* CARD DESCRIPTION LI
*/
.nft-card .nft-card-description li img {
    margin-right: 0.5rem;
}

/*
* CARD DESCRIPTION LI FIRST CHILD
*/
.nft-card .nft-card-description li:first-child {
    color: var(--Cyan);
    font-weight: 600;
}

/*
* CARD DESCRIPTION LI SECOND CHILD
*/
.nft-card .nft-card-description li:nth-child(2) {
    color: var(--Soft-blue);
}

/*
* CARD AVATAR
*/
.nft-card .nft-card-avatar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
}

/*
* CARD AVATAR IMG
*/
.nft-card .nft-card-avatar img {
    width: 2rem;
    border: 2px solid var(--White);
    border-radius: 50%;
    margin-right: 1rem;
}

/*
* CARD AVATAR PARAGRAPH
*/
.nft-card .nft-card-avatar p {
    font-size: 1rem;
    color: var(--Soft-blue);
}

/*
* CARD AVATAR PARAGRAPH SPAN
*/
.nft-card .nft-card-avatar p span {
    color: var(--White);
    font-weight: 400;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

/*
* CARD AVATAR PARAGRAPH SPAN HOVER STATE
*/
.nft-card .nft-card-avatar p span:hover {
    color: var(--Cyan);
}

/*
* MEDIA QUERY
*/

@media screen and (min-width: 520px) {
    .nft-card {
        width: 21.875rem;
    }
}