/*
* CSS VARIABLES
*/
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --Very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --font-size: 18px;
}
/*
* RESET DEFAULT STYLES
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
* STYLES OF ELEMENT BODY
*/
body {
    height: 99vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue-main-bg);
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}
/*
* CARD WRAPPER STYLES
*/
.nft-card {
    background-color: var(--Very-dark-blue-card-bg);
    width: 400px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 1px 12px rgb(0 0 0 / 12%), 0 1px 12px rgb(0 0 0 / 24%);
    padding: 20px;
}